<p style="color: green"><%= notice %></p>

<h1>Friends</h1>
<%= link_to "New friend", new_friend_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone</th>
      <th scope="col">twiter</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <th scope="row">1</th>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.phone %></td>
        <td>@<%= friend.twiter %></td>
        <td><%= link_to "Show", friend %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

