<div id="<%= dom_id book %>">
  <p>
    <strong>Mahs 262:</strong>
    <%= book.mahs_262 %>
  </p>

  <p>
    <strong>Hoten 262:</strong>
    <%= book.hoten_262 %>
  </p>

  <p>
    <strong>Lop:</strong>
    <%= book.lop %>
  </p>

  <p>
    <strong>Masach 262:</strong>
    <%= book.masach_262 %>
  </p>

  <p>
    <strong>Tensach 262:</strong>
    <%= book.tensach_262 %>
  </p>

  <p>
    <strong>Tentacgia 262:</strong>
    <%= book.tentacgia_262 %>
  </p>

  <p>
    <strong>Sobm 262:</strong>
    <%= book.soBM_262 %>
  </p>

  <p>
    <strong>Ngaymuon 262:</strong>
    <%= book.ngaymuon_262 %>
  </p>

  <p>
    <strong>Ngaytra 262:</strong>
    <%= book.ngaytra_262 %>
  </p>

  <p>
    <strong>Ghich 262:</strong>
    <%= book.ghich_262 %>
  </p>

</div>
