<p style="color: green"><%= notice %></p>

<h1>Books</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Họ tên</th>
      <th scope="col">Lớp</th>
      <th scope="col">Mã Sách</th>
      <th scope="col">Tên Sách</th>
      <th scope="col">Tác giả</th>
      <th scope="col">Số bảo mật</th>
      <th scope="col">Ngày mượn</th>
      <th scope="col">Ngày trả</th>
      <th scope="col">Số ngày mượn</th>
      <th scope="col">Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    <% @qlbooks.each do |book, index| %>
      <tr>
        <th scope="row"><%= book.index %></th>
        <td><%= book.mahs_262 %></td>
        <td><%= book.hoten_262 %></td>
        <td><%= book.masach_262 %></td>
        <td><%= book.tentacgia_262 %></td>
        <td><%= book.soBM_262 %></td>
        <td><%= book.ngaymuon_262 %></td>
        <td><%= book.ngaytra_262 %></td>
        <td><%= book.ngaytra_262 %></td>
        <td><%= book.ghichu_262 %></td>
        <td>@<%= book.twiter %></td>
        <td><%= link_to "Show", book %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
