<div id="<%= dom_id qlbook %>">
  <p>
    <strong>Mahs 262:</strong>
    <%= qlbook.mahs_262 %>
  </p>

  <p>
    <strong>Hoten 262:</strong>
    <%= qlbook.hoten_262 %>
  </p>

  <p>
    <strong>Lop 262:</strong>
    <%= qlbook.lop_262 %>
  </p>

  <p>
    <strong>Masach 262:</strong>
    <%= qlbook.masach_262 %>
  </p>

  <p>
    <strong>Tensach 262:</strong>
    <%= qlbook.tensach_262 %>
  </p>

  <p>
    <strong>Tentacgia 262:</strong>
    <%= qlbook.tentacgia_262 %>
  </p>

  <p>
    <strong>Sobm 262:</strong>
    <%= qlbook.soBM_262 %>
  </p>

  <p>
    <strong>Ngaymuon 262:</strong>
    <%= qlbook.ngaymuon_262 %>
  </p>

  <p>
    <strong>Ngaytra 262:</strong>
    <%= qlbook.ngaytra_262 %>
  </p>

  <p>
    <strong>Ghichu 262:</strong>
    <%= qlbook.ghichu_262 %>
  </p>

</div>
